<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LLM Site</title>
</head>
<body>
    <div class="container mx-auto bg-gray-300 grid justify-items-center">
        <div class="rounded pb-10">
            <h1 class="text-2xl font-bold text-gray-700">Input your Question</h1>
            
            <!-- index.html -->
            <form action="/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="bg-red-500 p-2 rounded hover:bg-red-700 hover:text-white w-full">

            </form>

            <h1 class="text-2xl font-bold text-gray-700">{{question}}</h1>
        </div>

        <div id="responseContainer" class="container flex bg-gray-100 h-screen">
            <div id="chatgpt" class="w-1/2 border-r border-lg m-5">
                <div class="flex w-full justify-center">
                    <h1 class="text-2xl font-bold">ChatGPT</h1>
                </div>
                <p class="text-justify">{{ response|safe }}</p>
            </div>
        
            <div id="bard" class="m-5 w-1/2">
                <div class="flex w-full justify-center">
                    <h1 class="text-2xl font-bold">bard</h1>
                </div>
                <p class="text-justify">{{ response|safe }}</p>
            </div>
        </div>
        



  
</body>
</html>
